@import "reset.scss";
@import "owl.carousel.min";
@import "videoslider";
@import "magnific-popup";
@import "../css/fonts.css";

body {
    color: #fff;
    font-family: 'Regular';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

h1,
h2,
h3,
h4 {
    display: block;
    font-family: 'Regular';
    margin: 0;
    padding: 0;
}

header {
    .wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 115px;
        border-bottom: 1px solid #e5e5e5;
    }
    .logo-main {
        display: block;
        margin-right: 57px;
    }
    .logo-mobile {
        display: none;
    }
    ul {
        display: flex;
        li {
            margin: 0 49px 0 0;
            a {
                font: 14px 'Regular';
                text-transform: capitalize;
                color: #303030;
                letter-spacing: 0.5px;
                transition: all .2s linear 0s;
                &:hover {
                    color: #909090;
                }
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 2;
        a {
            font: 14px 'Regular';
            text-transform: capitalize;
            color: #303030;
            letter-spacing: 0.5px;
            transition: all .2s linear 0s;
            margin-right: 59.5px;
            svg {
                path {
                    transition: all .2s linear 0s;
                }
            }
            &:hover {
                color: #909090;
                svg {
                    path {
                        fill: #909090;
                    }
                }
            }
            &:nth-child(3) {
                margin: 0;
                &:hover {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
    .user,
    .basket {
        display: flex;
        align-items: center;
        span {
            margin-left: 8px;
        }
        svg {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .search {
        display: inline-block;
        border: 1px solid #959595;
        background: transparent;
        position: relative;
        width: 42px;
        height: 42px;
        transition: all .2s linear 0s;
        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background: #959595;
        }
    }
    .mobile-button {
        display: none;
        width: 60px;
        height: 60px;
        position: relative;
        background: #8d8d8d;
        cursor: pointer;
        transition: all .2s linear 0s;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 4px;
            background: #fff;
            transition: all .2s linear 0s;
            &:after,
            &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 32px;
                height: 4px;
                background: #fff;
                transition: all .2s linear 0s;
            }
            &:after {
                top: -10px;
            }
        }
        &:hover {
            background: #434141;
        }
    }
    .mobile-button.is-active {
        z-index: 10;
        span {
            background: transparent;
            &:after {
                transform: rotate(-45deg);
                top: 0;
            }
            &:before {
                bottom: 0;
                transform: rotate(45deg);
            }
        }
    }
    @media (max-width: 480px) {
        .logo-main {
            display: none;
        }
        .logo-mobile {
            display: block;
        }
        nav {
            display: none;
        }
        .mobile-button {
            display: block;
        }
        .right {
            .user,
            .search {
                display: none;
            }
            .basket {
                svg {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}

.general-frame {
    position: relative;
    height: 100vh;
    text-align: center;
    .general-carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1 {
        font: 72px 'Regular';
        color: #303030;
        margin-bottom: 16px;
        text-transform: uppercase;
        letter-spacing: 3.4px;
        word-spacing: 2.5px;
    }
    h2 {
        font: 24px 'Italic-g';
        color: #606060;
        margin-bottom: 67px;
        letter-spacing: 1.3px;
        word-spacing: 0.2px;
    }
    a {
        display: inline-block;
        font: 14px 'Regular';
        color: #303030;
        text-transform: uppercase;
        transition: all .2s linear 0s;
        width: 229px;
        line-height: 58px;
        border: 1px solid #959595;
        background: transparent;
        letter-spacing: 0.7px;
        &:hover {
            background: #959595;
            color: #fff;
        }
    }
}

.squares-frame {
    padding-bottom: 136px;
    .container {
        display: flex;
        align-items: flex-start;
        flex-flow: column wrap;
        max-height: 885px
    }
    a {
        position: relative;
        width: 25%;
        height: 295px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #000;
            opacity: 0;
            transition: all .2s linear 0s;
        }
        &:hover {
            &:before {
                opacity: .3;
            }
        }
        span {
            display: block;
        }
        .header {
            font: 24px 'Bold';
        }
        .underheader {
            font: 18px 'Italic-g';
        }
    }
    .big {
        height: 590px;
        background: #d7d7d7;
        .title {
            max-width: 185px;
        }
        .header {
            line-height: 1.4;
            letter-spacing: 1px;
            margin-bottom: 7px;
            word-spacing: 1px;
            text-transform: uppercase;
        }
        .underheader {
            font: 18px 'Italic-g';
            text-transform: uppercase;
        }
    }
    .bird {
        background: #bbb;
        img {
            display: block;
            margin: 0 auto 25px;
        }
        .header {
            font: 14px 'Italic-g';
            line-height: 1.1;
            letter-spacing: 0.7px;
            max-width: 210px;
            margin-bottom: 14px;
        }
        .underheader {
            font: 14px 'Bold';
            letter-spacing: 0.5px;
        }
    }
    .empty {
        background: #dbdbdb;
    }
    .arrow {
        background: #606060;
        img {
            display: block;
            margin: 0 auto 7px;
        }
        .header {
            line-height: 1.4;
            letter-spacing: 1px;
            margin-bottom: 3px;
            word-spacing: 1px;
            text-transform: uppercase;
        }
        .underheader {
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
    }
    .price {
        background: #cacaca;
        .header {
            line-height: 1.4;
            letter-spacing: 1px;
            margin-bottom: 3px;
            word-spacing: 1px;
            text-transform: uppercase;
        }
        .underheader {
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
    }
}

.signup-frame {
    text-align: center;
    padding-bottom: 132px;
    h2 {
        font: 36px 'Bold';
        letter-spacing: 1.5px;
        color: #303030;
        margin-bottom: 9px;
        text-transform: uppercase;
        word-spacing: 1px;
    }
    h3 {
        font: 18px 'Italic-g';
        color: #606060;
        margin-bottom: 54px;
        letter-spacing: 1px;
        word-spacing: -.7px;
    }
    form {
        input {
            display: inline-block;
            font: 14px 'Italic';
            border: 1px solid #959595;
            line-height: 54px;
            width: 475px;
            letter-spacing: 1px;
            word-spacing: -2.5px;
            padding: 0 13px;
        }
    }
    button {
        display: inline-block;
        width: 95px;
        line-height: 54px;
        background: #f68236;
        font: 14px 'Regular';
        color: #fff;
        border: inherit;
        transition: all .2s linear 0s;
        margin-left: -4px;
        &:hover {
            opacity: .7;
        }
    }
}

.inspiration-frame {
    padding-bottom: 57px;
    .inspiration-carousel {
        .owl-nav {
            .owl-prev,
            .owl-next {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 39px;
                background: #e4e4e4;
                transition: all .2s linear 0s;
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background:url("../images/arrow2.png") center no-repeat;
                    width: 17px;
                    height: 33px;
                }
                &:hover {
                    background: #272121;
                }
            }
            .owl-prev {
                left: 0;
                &:before {
                    transform: translate(-50%, -50%) rotate(-180deg);
                }
            }
        }
    }
    .item {
        background: #bbb;
        height: 118px;
    }
}

footer {
    padding-bottom: 55px;
    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        width: 25%;
        h3 {
            font: 14px 'Bold';
            color: #303030;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.6px;
        }
        h4 {
            font: 12px 'Regular';
            color: #303030;
            letter-spacing: .7px;
            word-spacing: -0.5px;
            max-width: 220px;
            line-height: 1.9;
            margin-bottom: 19px;
        }
        .social-links {
            display: flex;
            align-items: flex-start;
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background: transparent;
                border: 1px solid #606060;
                margin-right: 14px;
                svg {
                    path {
                        width: 16px;
                        height: 16px;
                        transition: all .2s linear 0s;
                    }
                }
                &:last-child {
                    margin: 0;
                }
                &:hover {
                    background: #606060;
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        li {
            display: block;
            margin-bottom: 4px;
            a {
                position: relative;
                font: 12px 'Regular';
                color: #303030;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 1px;
                    height: 1px;
                    background: transparent;
                    transition: all .2s linear 0s;
                }
                &:hover {
                    &:before {
                        background: #303030;
                    }
                }
            }
            &:last-child {
                margin: 0;
            }
        }
        &:nth-child(4) {
            h3 {
                margin-bottom: 11px;
            }
        }
    }
}
