
/*
 * 	Default theme - Owl Carousel CSS File
 */

$color-base:			#5a6268 !default;
$color-baseHover:		#869791 !default;

$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-base !default;
$nav-background-hover:	$color-baseHover !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			0px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

@import '../plugins/owlcarousel/scss/theme';


/*
 * cтили для сборки Owl Carousel
*/

// Размеры стрелок
$widthNav: 40px;
$heightNav: 60px;

.owl-theme .owl-nav [class*="owl-"] {
	position: absolute;
	top:50%;
	width:$widthNav;
	height:$heightNav;
	margin:0;
	margin-top:-$heightNav/2;
	background-repeat: no-repeat;
	background: transparent;
}
.owl-theme .owl-nav {
	margin-top:0px;
}
.owl-theme .owl-nav .owl-next {
	right:0;
}
.owl-theme .owl-nav .owl-prev {
	right:0;
}
// Точки

.owl-theme .owl-dots .owl-dot {
	margin: 0px 5px;
}
.owl-theme .owl-dots .owl-dot span {
	cursor:pointer;
}

.owl-carousel .owl-item img {
	width:auto;
}
/*
 * cтили под дизайн Owl Carousel
*/
